// mixin for multiline
@mixin multiline-ellipsis($line-height: 1.2em, $line-count: 1, $bg-color: #fff) {
    line-height: $line-height;
    margin-right: -1em;
    max-height: $line-height * $line-count;
    overflow: hidden;
    padding-right: 1em;
    position: relative;
    text-align: justify;

    &::before {
        bottom: 0;
        content: '...';
        position: absolute;
        right: 0;
    }

    &::after {
        background: $bg-color;
        content: '';
        height: 1em;
        margin-top: .2em;
        position: absolute;
        right: 0;
        width: 1em;
    }
  }
  