.cp-generic-page {
    .message {
        color: #2f4f4f;
        font-size: 30px;
        margin-top: 50px;
        text-align: center;
    }

    .image {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
}
