@import '../../globals/styles/mixin-utils';

.cp-result-item {
    display: flex;
    flex-direction: row;
    padding: 20px;
    width: 800px;

    .description {
        @include multiline-ellipsis($line-count: 4);
        margin-top: 20px;
        min-height: 20px;
        width: 600px;
    }

    .info {
        margin-left: 20px;
    }

    .title {
        color: #483d8b;
        font-size: 30px;
        font-weight: 600;
    }

    .author-label {
        margin-right: 5px;
    }

    .no-data {
        color: #a52a2a;
    }
}
