.cp-search-results-page {
    .cp-pagination {
        display: flex;
        justify-content: center;
    }

    .searching-gif-holder {
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
}
